.nav{
	width: 100%;
	background-color:black;
	padding: 10px;
	position: fixed;
	bottom:0px;
	left:0px;
	color:white;
	font-family: Andale Mono;
	font-size: 20px;

}


.nav-item{
	display: inline-block;
	padding: 5px;
	border: 1px solid white;
	border-radius: 10px;
	text-decoration: none;
	color: white;
}


.nav-header{
	display:inline-block;
	padding: 5px;
}

.heading{
	font-size: 50px;
	font-family: Courier;
}

.bold{
	text-decoration: bold;
	font-size:25px;
}
body {
	font-family: Arial;
	font-size: 24px;
}

a {
	color:black;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.left {
	color: black;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;
}

.left-content {
	padding: 60px;
}

.right {
	color: black;
	background-color: yellow;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;	
}

.right-content {
	padding: 10px;
}

.right img {
	width: 100%;
}
