body {
	font-family: avenir next;
	font-size: 20px;
	color:red;
	background-color: white;
}

a {
	color:black;
}

.title {
	font-family:avenir next;
	font-size:90px;
	text-align:10px;
	margin-left:20px;
	color:black;
	margin-top:60px;
	text-decoration:underline;
}

.bio {
	color:black;
	margin:299px;
	margin-top:10px;
	margin-left:20px;
}

.plants2 {
	width:200px;
	margin-left:20px;
}

.camera {
	width:200px;
	margin-left:20px;
}

.beach {
	width:200px;
	margin-left:20px;
}

.best {
	width:200px;
	margin-left:20px;
}

.plants {
	width:200px;
	margin-left:20px;
}


.sketch {
	width:200px;
	margin-right:20px;
}

.greece {
	width:200px;
	margin-right:20px;
}

.type {
	width:200px;
	margin-right:20px;
}

.london {
	width:200px;
	margin-right:20px;
}

.concert {
	width:200px;
	margin-right:20px;
}

.eye {
	width:200px;
	margin:auto;
}

.cherry {
	width:200px;
	margin:auto;
}

.book {
	width:200px;
	margin:auto;
}

.holo {
	width:200px;
	margin:auto;
}