body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:white;
	font-family: Andale Mono;
}

.nav{
	width: 100%;
	background-color:black;
	padding: 10px;
	position: fixed;
	bottom:0px;
	left:0px;
	color:white;
	font-family:Andale Mono;
	font-size: 20px;

}


.nav-item{
	display: inline-block;
	padding: 5px;
	border: 1px solid white;
	border-radius: 10px;
	text-decoration: none;
	
}


.nav-header{
	display:inline-block;
	padding: 5px;
}

.title img{
	width:100%;
}



.research {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 20px;
	margin-left: auto;
}

.research-item {
	flex: 0 0 33.333%;
	padding: 10px;
	transition:1s;
	height: 250px;
	margin-bottom: 200px;

}

.research-item img{
	width: auto;
	display: block;
	margin:auto;
	height: 100%;
}


.essay{
	display:flex;
	flex-wrap:wrap;
	margin-bottom:80px;

}

.text{
	flex:0 0 66.666%;
	padding:10px;

}

.text h1{
	font-size: 30px;
	color:black;
	margin-bottom: 33.333vh;
	font-family:Andale Mono;
}

.text h2{
	font-family:Andale Mono;
}

.text p{
	margin-bottom:20px;
	font-family:Andale Mono;
	font-size:25px;
	padding: 20px;

}

/*interactive class*/

.large{
	flex:0 0 66.666%;
	transition:2s;	
	height: 600px;
}

.hide{
	display:none;
}

.active{
	background-color:yellow;
	color:black;
}