body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}


/* IP */

/* backgorund-color:red */
/* backgorund-color:lime */
/* backgorund-color:blue */
/* backgorund-color:cyan */
/* backgorund-color:magenta */
/* backgorund-color:grey */

/* IP start*/
.ip{
	width: 100vw;
	height:100vh;
	background-color: lime;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
 	font-size: 12.5vw;
 	color: white;
 	font-family: Andale Mono;
}

/*IP end*/

/*checkers start*/

.checkers {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;

}


.checkers-red {
 	flex:0 0 50%;
 	height: 50vh;
 	background-color: red;
}


.checkers-white {
 	flex: 0 0 50%;
 	height: 50vh;
 	background-color: white;
}



.checkers-yellow {
	flex: 0 0 50%;
	height: 50vh;
	background-color: yellow;
}

.checkers-lime {
	flex: 0 0 50%;
	height: 50vh;
	background-color: lime;
}

.checkers-blue {
	flex: 0 0 50%;
	height: 50vh;
	background-color: blue;
}
/* CHECKERS end*/


/*checkes type start*/

.checkers-type {
	width: 100vw;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;

}


.checkers-text {
	font-size: 15vw;
	font-family: Andale Mono;
	border: 1vw solid black;
	padding: 2vw;
}


/* chekcers type end*/

/*user start*/
.user {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightyellow;

}

.avatar {
	width: 75vw;
	height:75vw;
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}


.letter {
 font-size:50vw;
 color: white;
 font-family: Andale Mono;
}
/* user end */


/*elgoog start*/
.reverse {
	background-color: black;
	width: 100vw;
	height:100vh;
	display: flex;
	flex-wrap:wrap;
	align-content: space-between;
	justify-content: center;
}

.reverse-text {
 font-size: 22vw;
 color: white;
 font-family: Times New Roman;
 text-decoration: underline;

 direction: rtl;
unicode-bidi: bidi-override; 
}



.under-text {
	font-size: 5vw;
 	color: red;
 	font-family: Times New Roman;	
 	margin-bottom: 20px;
 	width: 100%;
 	text-align: center;

}
/*elgoog end*/


/*elevator start*/
.upside {
	background-color: red;
	width: 100vw;
	height:30vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.upside-text {
	font-family: helvetica;
	font-size: 18vw;
	color: white;
}

.down {
 	background-color: red;
	width: 100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.down-text {
	font-family: helvetica;
	font-size: 18vw;
	color: white;
}
/*elevator end*/


/*identity start*/
.identity {
	
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	margin-left: 0px;
}

.identity-text {
	font-family: Arial;
	font-size: 10vw;
	margin-left: 0px;
}

.identity2 {
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	
}

.identity2-text {
	font-family: Courier;
	font-size: 6.5vw;
	margin-right: 0px;
}
/*identity end*/

/*blur start*/
.fade {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgrey;
}

.fade-text {
	font-family: impact;
	font-size: 20vw;
	opacity: 1;
    transition: opacity 6s linear infinite;
  	-webkit-animation: fadeinout 6s linear infinite;
    animation: fadeinout 6s linear infinite;


}
  

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }

}

.background {
	width: 100vw;
	height:100vh;
	margin-left: 0px
	margin-top: 0px;
	background-color: black;
	border-radius: 2%;
	
}	
  
  


/*blur end*/

/*find myself start*/
.find {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgrey;
}



.circle { 
   width: 100%;
   height: 100%;

   -moz-border-radius: 50%; 
   -webkit-border-radius: 50%; 
   border-radius: 50%;

  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;   
  box-sizing: border-box;  
  box-shadow: 0 0 0 0.25em #000; 
  
}

.circle.one{
  width:400px;
  height:400px;
  background:green;
  padding:40px;
}

.circle.two{
  background:lightgreen;
    padding:80px;
}
.circle.three{
  background:green;
    padding:20px;
}
.circle.four{
  background:lightgreen;
}


.find-text {
	font-size:10vw;
 	color: white;
 	font-family: Trebucket MS;
 	transform-origin: center center;
 	text-align: center;
 	width: 400px;
 	position: relative;
 	left:-150px;
 	top:-50px;
	animation:spinUG 10s infinite linear alternate;
}

 	@keyframes spinUG {
  
  0% {
    /*transform:rotate(0deg);*/
    filter:blur(0px);
    
  }
  
  100% {
    /*transform:rotate(360deg);*/
    filter:blur(200px);
  }
  
  
}

/*find myself end*/


/*four g start*/



.fourg {
	background-image:url(backgrounds/4g.png);
	background-repeat: space;
	background-size: 25vw 25vw; 
	height: 100vh;
	width:100vw;
	
}
/*fourg end*/


.cloud-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(lightpink, white);
}

.cloud-dots {
  flex: 0 0 20%;
  background-image: linear-gradient(lightpink, white);
  height: 25vh;
  border-radius: 50%;
  animation: bgpos 5s infinite linear;
}

@keyframes bgpos {
  0% {
  background-position:0 300px;
  }

  100% {
  background-position:0 0px;
  }
}


.box-sw {
  height:100vh;
  width:100%;
  background-color:green;
  display:flex;
}

.camera {
  flex:1 1;
  height:100vh;
  background-color:yellow;
}

.camera img {
  width:100%;
  height:100%;
  object-fit:fill;
}

.cam {
  flex: 0 0 25%;
  height:100vh;
  background-color:black;
  animation-name:water;
  animation-duration:10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

}

.cam-text {
	font-size: 30vw;
	font-color: white;

}

@keyframes cam {
  0% {
    flex:0 0 0%;
  }
  
  100% {
    flex:0 0 100%;    
  }
}


.eye {

}

.eye img {
	width: 100vw;
	height: 100vh;
	
}

.eye-type {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eye-text {
	font-size: 50vh;
color:white;
  -webkit-text-stroke: 2px red;
  }



  .box1 {
  width: 200px;
  height:200px;
  box-shadow:0px 0px 60px 20px #ccc;
   flex: 0 0 33.333%;
}

.box2 {
  width: 200px;
  height:200px;
  box-shadow:3px 3px 15px 6px #ccc;
 flex: 0 0 33.333%;
}


 .box3 {
  width: 200px;
  height:200px;
  box-shadow:0px 0px 60px 20px #ccc;
  flex: 0 0 33.333%;
}

.box4 {
  width: 200px;
  height:200px;
  box-shadow:3px 3px 15px 6px #ccc;
  flex: 0 0 33.333%;
} 


.box5 {
  width: 200px;
  height:200px;
  box-shadow:0px 0px 60px 20px #ccc;
 flex: 0 0 33.333%;
}

.box6 {
  width: 200px;
  height:200px;
  box-shadow:3px 3px 15px 6px #ccc;
  flex: 0 0 33.333%;
} 

.box7 {
  width: 200px;
  height:200px;
  box-shadow:0px 0px 60px 20px #ccc;
  flex: 0 0 33.333%;
}

.box8 {
  width: 200px;
  height:200px;
  box-shadow:3px 3px 15px 6px #ccc;
  flex: 0 0 33.333%;
}

.box9 {
  width: 200px;
  height:200px;
  box-shadow:3px 3px 15px 6px #ccc;
  flex: 0 0 33.333%;
}

.misty {
	 display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 100vh;
  width: 100vw;

}

.memory img{
	width: 100%;
	align-content: center;
	
}

.memory {
	padding-top: 50px;
	align-content: center;
	text-align: center;
}

.heat img {
	width: 100%;
	align-content: center;
}

.on-type {
	width: 100vw;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: left;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-animation: fadeoutin 3s linear infinite;
    animation: fadeinout 3s linear infinite;


}
  

@-webkit-keyframes fadeoutin {
  100%,0% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeoutin {
  100%,0% { opacity: 1; }
  50% { opacity: 0; }
}




.on-text {
	font-size: 5vw;
	font-family: Andale Mono;
	padding: 2vw;
}


.off-type {
	width: 100vw;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	opacity: 1;
    transition: opacity 2s linear;
  	-webkit-animation: fadeinout 4s linear infinite;
    animation: fadeinout 4s linear infinite;


}
  

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.off-text {
	font-size: 5vw;
	font-family: Andale Mono;
	padding: 2vw;
}


.money img{
	width: 100%;
	align-content: center;
	
}



.dollar {
	height:100vh;
	display:flex;
	display: wrap;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	


}

.dollar-type {
	font-size: 100pt;
	color: white;
}


.red {

  height: 500px;
  width: 500px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top:15%;
  left:-1%;
	


}

.yellow {

  height: 500px;
  width: 500px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top:15%;
  left:32%;

}

.green {

  height: 500px;
  width: 500px;
  background-color: lime;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top:15%;
  left:66%;
}


.nbn img {
	width: 20%;
	align-content: center;
	position:fixed;

}

.nbna img {
	width: 20%;
	position:fixed;
	top:0%;
	right:60%;

}

.nbnb img {
	width: 20%;
	position:fixed;
	top:0%;
	right:40%;

}

.nbnc img {
	width: 20%;
	position:fixed;
	top:0%;
	right:20%;

}

.nbnd img {
	width: 20%;
	position:fixed;
	top:0%;
	right:0%;

}


.nbne img {
	width: 20%;
	position:fixed;
	top:50%;
	right:60%;

}

.nbnf img {
	width: 20%;
	position:fixed;
	top:50%;
	right:40%;

}

.nbng img {
	width: 20%;
	position:fixed;
	top:50%;
	right:20%;

}

.nbnh img {
	width: 20%;
	position:fixed;
	top:50%;
	right:0%;

}

.nbni img {
	width: 20%;
	position:fixed;
	top:50%;
	right:80%;

}

.nbnj img {
	width: 20%;
	position:fixed;
	top:70%;
	right:60%;

}

.nbnk img {
	width: 20%;
	position:fixed;
	top:70%;
	right:40%;

}

.nbnl img {
	width: 20%;
	position:fixed;
	top:70%;
	right:20%;

}

.nbnm img {
	width: 20%;
	position:fixed;
	top:70%;
	right:0%;

}

.nbnn img {
	width: 20%;
	position:fixed;
	top:70%;
	right:80%;

}


.pirate img{
	width:160%;
	
	position:fixed;
	top:-90%;
	right:-10%;
}



.blob img{
	width: 30%;
	align-content: center;
	justify-content: center;
	position: fixed;
	top:20%;
	left:35%;
	
}



.blob {
	background-color: black;
	width: 100vw;
	height:100vh;
}



.yt img{
	width: 100%;
	align-content: center;
	justify-content: center;
	position: fixed;
	
	
}

.titles {
	font-size: 20px;
	font-family: Helvetica;
	background-color: pink;
	color:white;
	width:100vw;
	height:100vh;
	line-height: 150%;
}

.clou {
position:fixed;
top:20%;
left:30%;
}

.cit {
position:fixed;
top:20%;
left:60%;
}


.city {
	font-size: 70px;
	font-family:bold;
	left:50%;
}


.cloud {
	font-size:70px;
	font-family:bold;
}


.nav-item {
	font-size: 20px;
	font-family: Helvetica;
	color: white;
}